@{
    ViewData["Title"] = "Posts Page";
}

@model Post

<div class="text-center">
    <h1 class="display-4">Boing</h1>
    <hr />
    <form asp-action="AddPost">
        <div class="form-group">
            <label asp-for="Titel"></label>
            <input asp-for="Titel" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Inhalt"></label>
            <input asp-for="Inhalt" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="fk_id_Kategorie"></label>
            <select asp-for="fk_id_Kategorie" class="form-control">
                <option value="1">Technologie</option>
                <option value="2">Sport</option>
                <option value="3">Film & Serien</option>
                <option value="4">Gaming</option>
                <option value="5">Arbeit</option>
                <option value="6">Kochen</option>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Speichern" />
            <a class="btn btn-danger" asp-action="Index">Zurück</a>
        </div>
        @if (ViewBag.PostError != null)
        {
            <p class="text-danger">@ViewBag.PostError</p>
        }
    </form>
</div>
