@{
    ViewData["Title"] = "Posts Page";
}

@model IEnumerable<Post>

<div class="text-center">
    <h1 class="display-4">Posts</h1>
    <div style="text-align:right; margin-right:100px;">
        <a asp-action="AddPost" class="btn btn-outline-primary">Neuer Post</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Titel)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => post.Titel)<br />
                    @Html.DisplayFor(modelItem => post.Inhalt)</td>
                    
                    <td>
                        <a asp-action="DeleteUser" class="btn btn-outline-danger" asp-route-id_post="@post.id_Post">Löschen</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
