@{
    ViewData["Title"] = "Benutzer Page";
}

@model Benutzer

<div class="text-center">
    <div class="card h-100" style="width: 24rem; margin: auto;">
        <h5 class="card-header h3">Passwort ändern</h5>
        <form class="m-3" asp-action="ChangeUser">
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Passwort">Altes Passwort</label>
                <input asp-for="Passwort" class="form-control" />
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Passwort"></label>
                <input asp-for="Passwort" class="form-control" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Passwort ändern" />
            </div>
            @if (ViewBag.LogInError != null)
            {
                <p class="text-danger">@ViewBag.LogInError</p>
            }

        </form>
    </div>
</div>
