@{
    ViewData["Title"] = "Benutzer Page";
}

@model IEnumerable<Benutzer>

<div class="text-center">
    <h1 class="display-4">Benutzer</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Benutzername)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var benutzer in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => benutzer.Benutzername)</td>
                        <td>
                            <a asp-controller="Post" asp-action="BenutzerPost" class="btn btn-outline-primary" asp-route-id_benutzer="@benutzer.id_Benutzer">Profil</a>
                            @if (User.IsInRole("Admin"))
                            {
                            <a asp-action="DeleteUser" class="btn btn-outline-danger" asp-route-id_benutzer="@benutzer.id_Benutzer">Löschen</a>
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
