@{
    ViewData["Title"] = "LogIn";
    Layout = null;
}

@model Benutzer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Media</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="card h-100" style="width: 24rem; margin: auto;">
            <h5 class="card-header h3">Log In</h5>
            <form class="m-3" asp-action="Login">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Benutzername"></label>
                    <input asp-for="Benutzername" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Passwort"></label>
                    <input asp-for="Passwort" type="password" class="form-control" />
                </div>
                <a class="float-right justify-content-center" asp-action="AddUser">Registrieren</a>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Log In" />
                </div>
                @if (ViewBag.LogInError != null)
                {
                    <p class="text-danger">@ViewBag.LogInError</p>
                }

            </form>
        </div>
    </div>
    
</body>
</html>

